*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(189, 248, 130);
}

.left-section{
    color: black;
    display: flex;
    align-items: center;
    padding: 5px;
}

.right-section {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.content{ 
    
    justify-content: space-evenly;   
    background-color: rgb(207, 61, 61);
    display: inline-flex; 
    
}
section {
    border: 1px solid white;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: black
}

h2{
    color: white;
}


h3{
    color: rgb(208, 252, 121);
}



















