*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

div{ 
    
    justify-content: space-evenly;   
    background-color: rgb(212, 71, 71);
    display: inline-flex; 
    
}
section {
    border: 0.5px solid white;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: black
}

h2{
    color: white;
}


h3{
    color: rgb(208, 252, 121);
}



















