*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.phone{
    align-items: center;
    padding-right: 150px;
    background-color: rgba(18, 10, 54, 0.918);
    color: white;
    display: flex;
    justify-content: flex-end;

}

.section1{
    display: flex;
}

.section1{
    padding-left: 15rem;
    display: flex;
    justify-content: space-between
}

.sec2{
    display: flex;
}
.box{
    /* width: 12vw; */
    /* height: 20vh; */
    transform: translateY(-20px);
    display: flex;
    background-color: rgb(66, 64, 64);
}
.acc1{
    padding: 2rem;
}
.acc2{
    padding: 2rem;
}

.button{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 15vw;
    height: 7vh;
   
}
.one{
    background-color: bisque;
   
}
.two{
    background-color: orange;
   
}

/* .container img{
  width: 100px;
  height: 100%;
} */

.container {
    background: url('./banner1.jpg');
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.skills{
    background-color: rgb(46, 44, 44);
    color: white;
    display: flex;
    justify-content: space-between;
   
}

.micro{
    display: flex;
    align-items: center;
}

.heart{
    display: flex;
    align-items: center;
}

.help{
    display: flex;
    align-items: center;
}

.mri{
    display: flex;
    align-items: center;
}

.checklist{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
}

.lab{
    max-width: 1vw;
    max-height:  5vh;
}

.lab img{
    width: 100vw;
    height: 110vh;
    
}

.text{
    font-size: large;
}